// .header-section {
//   background-image: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%),
//     url(../../images/hero-bg.jpeg);
//   background-repeat: no-repeat;
//   background-size: 100% auto;
//   background-position: center top -30px;
//   // width: 100vw;
//   // height: 100vh;
// }


.header {
  // background-image: linear-gradient(180deg, rgba(22, 21, 29, 0.6) 0%, rgba(22, 21, 29, 0) 100%);

  &__logo {
    color: $color-white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 3.8rem;

    &:hover {
      opacity: .8;
    }
  }
}



.header-body {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.header-nav {
  &__list {
    list-style: none;
    display: flex;
    margin-left: 14rem;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-block;
    color: $color-white;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    transition: all ease .3s;

    &:hover {
      color: rgba(255, 255, 255, 0.6);

    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__btn {
    background-color: transparent;
    border: transparent;
    display: inline-block;
    outline: none;
    width: 6.5rem;
    height: 5rem;
    background-color: $color-white;
    border-radius: 50%;
    margin-left: 1rem;
    transition: all ease .3s;
    font-size: 1.6rem;
    color: grey;
    cursor: pointer;

    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}

.search {
  &__form {
    width: 60%;
    margin-left: 8rem;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    outline: none;
    border: transparent;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 400;
    height: 5rem;
    width: 90%;
    transition: all ease .3s;
    appearance: none;

    &:focus {
      box-shadow: 0 0 20px #5931AC;
    }
  }

  &__btn {
    background-color: transparent;
    border: transparent;
    outline: none;
    width: 5rem;
    height: 5rem;
    background-color: $color-white;
    border-radius: 50%;
    margin-left: 1rem;
    transition: all ease .3s;
    font-size: 1.6rem;
    color: grey;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.filter {
  display: flex;
  width: 100%;

  &__form {
    position: relative;
  }

  &__select {
    outline: none;
    border: transparent;
    display: inline-block;
    padding: 1.2rem 1.5rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    width: 17rem;
    transition: all ease .3s;

    &:focus {
      box-shadow: 0 0 20px #5931AC;
    }
  }

  &__select-custom {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-white;
    width: 4rem;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    pointer-events: none;

    &::before,
    &::after {
      --size: .6rem;

      @include baElements(0, 0);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      border-left: var(--size) solid transparent;
      border-right: var(--size) solid transparent;
      border-top: var(--size) solid $color-primary;
    }
  }

  &__option {
    font-size: 1.4rem;
  }
}