@font-face {
  font-family: 'Milliard';
  src: url('../../fonts/Milliard-Book.woff2') format('woff2'),
    url('../../fonts/Milliard-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milliard';
  src: url('../../fonts/Milliard-SemiBold.woff2') format('woff2'),
    url('../../fonts/Milliard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Milliard';
  src: url('../../fonts/Milliard-Bold.woff2') format('woff2'),
    url('../../fonts/Milliard-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}